input.kast {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 2em;
  border: 0;

  color: transparent;
  text-shadow: 0 0 0 black;
  cursor: default;
}

.container {
  margin-top: 50px;
}

table {
  margin: auto;
  table-layout: fixed;
  width: 450px;
  border: 3px solid;
}

td {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 1px solid;
}

tr:nth-of-type(3n) {
  border-bottom: 2px solid;
}

td:nth-of-type(3n) {
  border-right: 2px solid;
}

input:disabled {
  background-color: #ebebe47a;
}

