<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sudoku</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Lõpmatult sudokusid">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <meta property="og:image" content="{% static 'images/sudoku.png' %}">
</head>
<body>
<div class="container">
      {% block content %} {% endblock %}
</div>
<script src="{% static 'js/javascript.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
</body>
</html>